<!-- Header -->
<section id="header" class="skel-layers-fixed">
    <header>
        <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
        <h1 id="logo"><a href="{{ site.baseurl }}/">márcio de sousa</a></h1>
        <p>web developer from Porto, Portugal,<br /> living in Leuven, Belgium</p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">home</a></li>
            <li><a href="{{ site.baseurl }}/contact">contact</a></li>
            <li><a href="{{ site.baseurl }}/blog">blog</a></li>
        </ul>
    </nav>
    <footer>
        find me on
        <ul class="icons">
            <li><a href="https://twitter.com/marciodsousa" class="icon fa-twitter"><span class="label">twitter</span></a></li>
            <li><a href="https://www.facebook.com/marcioddesousa" class="icon fa-facebook"><span class="label">facebook</span></a></li>
            <li><a href="https://www.instagram.com/marciodsousa/" class="icon fa-instagram"><span class="label">instagram</span></a></li>
            <li><a href="https://github.com/marciodsousa" class="icon fa-github"><span class="label">github</span></a></li>
            <li><a href="mailto://marciodesousa16@gmail.com" class="icon fa-envelope"><span class="label">email</span></a></li>
        </ul>
    </footer>
</section>